* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8em;
}

body {
    width: 100%;
    height: 100%;
    background-color: #5BC0DE;

}

/******************HEADER******************/
header {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

h1 {
    height: 3rem;
    background-color: #64FFDA;
    justify-content: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

h2 {
    height: 4rem;
    background-color: #64FFDA;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}


/******************MAIN******************/

main {
    width: 100%;
    height: 50%;
    margin: auto ;
    border-radius: 20px;
}


.bloc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picto {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 20px;

}


#haut, #bas {
    height: 50%;
    border-radius: 20px;
}


#experience p {
    height: 2rem;
    justify-content: center;
    background-color: #81D4FA;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 8em;
    margin-left:-1em;
    border-radius: 20px;

}

#formation p {
    height: 2rem;
    justify-content: center;
    background-color: #80CBC4;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 8em;
    margin-left:-1.5em;
    border-radius: 20px;

}

#contact p {
    height: 2rem;
    justify-content: center;
    background-color: #CE93D8;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 8em;
    margin-left:-1em;
    border-radius: 20px;

}

#porteFolio p {
    height: 2rem;
    justify-content: center;
    background-color: #FFCC80;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 8em;
    margin-left:-1.5em;
    border-radius: 20px;

}

